<main class="container">
    <div class="div-container">
        <h2>Sobre a Lista de Tarefas</h2>
        <p>O intuito desta página é que os usuários possam adicionar ou remover tarefas que ficarão armazenadas numa lista.</p>
        <p>Para adicionar a primeira tarefa vá até <b>Tarefas</b></p>
    </div>
</main>