<!-- PARTE 1 -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lista de Tarefas onde o usuário cadastrado pode adicionar e remover tarefas, bem como acessá-las em qualquer lugar">
    <link rel="icon"  href="/public/assets/imagens/favicon.ico">
    <link rel="stylesheet" href="/public/assets/style.css">
    <title>Lista de Tarefas</title>
</head>
<body>
    <!-- PARTE 2 -->
    <header>
        <img src="../public/assets/imagens/logo.svg" width="70px" height="auto" alt="Logo da Lista de Tarefas">
        <h1>Lista de Tarefas</h1>
    </header>

    <main class="container">
        <div class="div-container">
            <h2>Sobre a Lista de Tarefas</h2>
            <p>O intuito desta página é que os usuários possam adicionar ou remover tarefas que ficarão armazenadas numa lista, e poderão marcá-las como concluída</p>
            <p>Para adicionar a primeira tarefa vá até <b>Tarefas</b></p>
        </div>
    </main>
    <section class="container">
        <div class="div-container">
            <h3>Registre-se</h3>
        <div class="loginForm">
            <form action="/signUp" method="post">
                <div class="inputsLogin">
                    <label for="nome">Nome</label>
                    <input name="name" type="text" id="inputNome" required="true" aria-label="Digitar nome" require>

                    <label for="username">Nome de usuário</label>
                    <input name="username" id="inputUsername" type="text" aria-label="Digitar nome de usuário" required>
                    
                    <label for="email">Email</label>
                    <input  name="email" id="inputEmail" type="email" aria-label="Digitar email" required>
    
                    <label for="senha">Senha</label>
                    <input name="password" type="password" id="inputSenha" aria-label="Digitar senha" minlength="4" required>  

                    <label for="senha">Confirmação de senha</label>
                    <input name="confirmPassword" type="password" id="inputConfirmPassword" aria-label="Digitar senha novamente" minlength="4" required> 
                </div>
                <div class="buttonLogin">
                    <button type="submit" id="signUpButton" aria-label="Criar conta">Registar</button>    
                </div>
                <div class="signUp">
                    <p>Já possui uma conta? <a href="/"><b>Faça login</b></a></p>
                </div>
            </form>
        </div>
        </div>
    </section>  
    <script src="/public/login.js"></script>
</body>
</html>