<!-- PARTE 1 -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"  href="/public/assets/imagens/favicon.ico">
    <link rel="stylesheet" href="/public/assets/style.css">
    <title>Lista de Tarefas | Tarefas</title>
</head>
<body>
        <!-- PARTE 4 -->
        <header>
            <img src="../public/assets/imagens/logo.svg" width="70px" height="auto" alt="">
            <h1>Lista de Tarefas</h1>
        </header>
    
        <nav>
            <a href="/tarefas">Tarefas</a>
            <a href="/logout">Sair</a>
        </nav>

        <!-- PARTE 6 -->
        <main class="main2">
            <section id="novaTarefa">
                <div class="novaTarefa2">
                    <h2>Nova Tarefa</h2>
                    <div class="inputs">
                        <input name="inputTarefa" id="inputNovaTarefa" type="text" placeholder="âœï¸Â  Escreva aqui sua tarefa...">
                        <input id="btnNovaTarefa" type="submit" value="+">    
                    </div>
                </div>
            </section>

            <!-- PARTE 7 -->
            <section id="listaDeTarefas">
                <div class="listaDeTarefas">
                    <h2>Minhas Tarefas</h2>
                    <ul>
                    </ul>
                </div>
            </section>
            
        </main>
    <script src="/public/script.js"></script>
</body>
</html>